from flask import Blueprint
from flask_pydantic import validate

from app.utils import logger
from app.schemas import CommonResponseSchema, JSONResponse

sample_route = Blueprint("sample_route", __name__)


@sample_route.route("/sample_blueprint", methods=['GET'])
@validate()
def sample_blueprint():
    function_name = "Blueprint - Health Check"
    logger.info(
        message=f"Enter - {function_name}",
        function_name=function_name,
    )
    return JSONResponse(
        content=CommonResponseSchema(
            message="Health check ping working for public", status="Ok"
        ).dict(),
        status_code=200,
    )
